footer{
    position: sticky;
    bottom: 0;
    background: $black;
    color: $white;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    padding: 4vw 4vw 4vw 4vw;
    overflow-y: auto;
    max-height: 100vh;
    h1{
        line-height: 100%;
    }
    .footer-socials{
        display: flex;
        flex-direction: row;
        gap: 1vw;
        a{
            transition: 0.3s;

            &:hover{
                transform: translateY(3px);
                transition: 0.3s;
            }
        }
    }
    .footer-row{
        display: flex;
        flex-direction: row;
        gap: 4vw;
        .footer-column{
            display: flex;
            flex-direction: column;
            gap: 2vw;
            .footer-bloc{
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover{
                        color: darken($white, 10%);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
footer::-webkit-scrollbar {
    display: none;
  }
footer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }