footer{
    position: sticky;
    bottom: 0;
    background: $black;
    color: $white;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 4vw 0vw 0vw 0vw;
    scroll-behavior: auto;
    h1{
        line-height: 100%;
    }
    .footer-socials{

        a{
            transition: 0.3s;

            &:hover{
                transform: translateY(3px);
                transition: 0.3s;
            }
        }
    }
    .footer-row{
        display: flex;
        flex-direction: row;
        gap: 4vw;
        .footer-column{
            display: flex;
            flex-direction: column;
            gap: 2vw;
            .footer-bloc{
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover{
                        color: darken($white, 10%);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .footer-socials{
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
}