.candidatheader{
    background: $green!important;
    color: $white;
}

.candidat-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 0vw;
    h1{
        color: $green
    }

    .text-hero-banner{
        color: $black;
        text-align: center;
        margin-top: 4vw;
        width: 50%;
    }
}

.candidat-section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35vw;
    padding: 0vw 16vw 0vw 16vw;
    margin-top: 6vw;
    gap: 2vw;
    .candidat-column-left{
        width: 100%;
        border-radius: 2.6vw;
        background: url(/assets/images/candidat.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .candidat-column-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
            gap: 2vw;
        }
        h2{
            color: $green;
            text-transform: uppercase;
            width: 80%;
            line-height: 95%;
        }
        p{
            color: $black;
        }
    }
}

.candidat-section3{
    h3{
        color: $black;
    }
    padding: 6vw 8vw 6vw 8vw;

    .stroke-wrapper-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 25px;
        border: 2px solid $green;
        padding: 4vw;
        gap: 4vw;
        .stroke-wrapper-row{
            display: flex;
            gap: 2vw;
        }
        .stroke-wrapper-column{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            color: $green;
            p{
                font-weight: 800;
                width: 20vw;
            }
        }
    }
}

.candidat-section4{
    padding: 0vw 8vw 0vw 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .faq-wrapper{
        display: flex;
        width: 100%;
        align-items: flex-start;
        h2{
            color: $green;
        }
    }
        /* Style the buttons that are used to open and close the accordion panel */
        .accordion {
            font-family: neulis-cursive, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 1.7vw;
            display: flex;
            gap: 2vw;
            align-items: center;
            background-color: #eeeeee00;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            border-bottom: 2px solid $green;
            color: $black;
            &:hover{
                    color: $green;
            }
        }
        
        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        // .active, .accordion:hover {
        //     background-color: #ccc;
        // }
        
        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 2vw;
            width: 100%;
            display: none;
            overflow: hidden;
            text-align: start;
            p{
                font-weight: 500!important;
                color: $black;
            }
        }
}

.candidat-section5{
    margin-top: 4vw;
    iframe{
        width: 100%;
        height: 180vw;
        .HB1eCd-UMrnmb{
            overflow: hidden!important;
        }
    }
}

//RESPONSIVE
@media only screen and (max-width: 768px){
    main{
        padding: 0vw 4vw 0vw 4vw;

        .candidat-section1{
            padding-top: 30%;
            h1{
                font-size: 14vw!important;
                line-height: 18vw;
                text-align: center;
            }
            .text-hero-banner{
                font-size: 7vw!important;
                width: 90%;
                text-align: left;
            }
        }

        .candidat-section2{
            flex-direction: column;
            padding: 0vw 4vw 0vw 4vw;
            height: fit-content;
            h2{
                font-size: 6vw!important;
            }
        }

        .candidat-section2{
            flex-direction: column;
            .text-hero-banner{
                font-size: 7vw!important;
                width: 90%;
            }
        }

        .candidat-section3{
            .stroke-wrapper-container{
                .stroke-wrapper-row{
                    flex-direction: column;
                    h2{
                        font-size: 5vw;
                    }
                    h4{
                        font-size: 5vw;
                    }
                    p{
                        width: 100%;
                    }
                    .stroke-wrapper-column{
                        width: 100%;
                    }
                }
            }
        }

        .candidat-section4{
            h2{
                font-size: 5vw;
                margin-bottom: 4vw;
            }
            .accordion{
                font-size: 4vw;
                svg{
                    display: none;
                }
            }
        }
    }
}