.editionheader{
    background: $yellow!important;
    color: $white;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
    }
}
.edition-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 0vw;
    h1{
        color: $yellow;
        animation: fadeInAnimation ease 1s;
    }
    h2{
        color: $yellow;
    }
    .text-hero-banner{
        color: $black;
        text-align: center;
        margin-top: 4vw;
        width: 50%;
    }
}

.edition-section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vw 8vw 0vw 8vw;
    margin-top: 6vw;
    gap: 2vw;
    .edition-column-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .edition-column-right{
        width: 100%;
        border-radius: 2.6vw;
        background: url(/assets/images/placeholder-img.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h3{
        color: $black;
    }
}

.edition-section3{
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text-hero-banner{
        color: $black;
        text-align: center;
        width: 50%;
    }
    a{
        margin-top: 2vw;
        text-transform: uppercase;
        border: solid $green;
        color: $green;
        &:hover{
            background: $green;
            color: $white;
        }
    }
}

.edition-section4{
    h2{
        text-align: center;
        color: $yellow;
        margin-bottom: 2vw;
    }
    padding: 4vw;
    height: fit-content;
    .chips-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-container{
        a{
            text-decoration: none;
        }
        height: 100%;
        padding: 2vw 0vw 8vw 0vw;
        columns: 4 300px; /* Specifies the number of columns and their width */
        column-gap: 1rem; /* Specifies the gap between columns */
        .edition-card{
            position: relative;
            overflow: auto;
            padding: 1.8vw;
            border-radius: 1.8vw;
            background-image: url(/assets/images/test.jpg);
            background-size: cover;
            background-size: 110%;
            transition: all 0.3s ease-in-out;
            background-repeat: no-repeat;
            margin: 0 1vw 1vw 0; /* Margin to create space between items */
            display: flex;
            align-items: flex-end;
            width: 100%; /* Make sure each item takes full width of column */
            height: 25vw;
            overflow: hidden;
            .text-container{
                position: absolute;
                width: 85%;
                opacity: 0;
                color: $white;
                transition: 0.3s;

            }
            .image-overlay{
                position: absolute;
                opacity: 0;
                background: black;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 1;
                transition: 0.3s;
            }
            .pill-artiste{
                opacity: 1;
                transition: 0.3s;
            }

            &:hover{
                background-size: 112%;
                transition: all 0.3s ease-in-out;
                .image-overlay{
                    opacity: 0.5;
                    transition: 0.3s;
                }
                .text-container{
                    pointer-events: none;
                    position: absolute;
                    z-index: 2;
                    opacity: 1;
                    transition: 0.3s;
                }
                .pill-artiste{
                    opacity: 0;
                    transition: 0.3s;
                }
            }
            &:nth-child(1){
                height: 36vw;
                background-image: url(/assets/images/cards/jerome.jpg);
                background-position: center;
                background-size: 110%;
                &:hover{
                    background-size: 112%;
                    transition: all 0.3s ease-in-out;
    
                    .text-container{
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }
            &:nth-child(2){
                background-image: url(/assets/images/cards/FannySerrin.jpeg);
                height: 25vw;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(3){
                background-image: url(/assets/images/cards/frank.jpg);
                height: 36vw;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(4){
                background-image: url(/assets/images/cards/magico.jpg);
                height: 20vw;
                .pill-artiste{
                    background: $purple!important;
                }
            }
            &:nth-child(5){
                background-image: url(/assets/images/cards/lapatatebleue.png);
                height: 25vw;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(6){
                background-image: url(/assets/images/cards/biju.png);
                height: 25vw;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(7){
                height: 25vw;
                background-image: url(/assets/images/cards/lwool.png);
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(8){
                height: 36vw;
                background-image: url(/assets/images/cards/ideaatelier.jpg);
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(9){
                background-image: url(/assets/images/cards/GalahadLeMatou.jpg);
                height: 36vw;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(10){
                height: 30vw;
                background-image: url(/assets/images/cards/melimelo.jpg);
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(11){
                height: 25vw;
                background-image: url(/assets/images/cards/fabriquejuliette.jpg);
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(12){
                height: 36vw;
                background-image: url(/assets/images/cards/danae.jpg);
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(13){
                height: 25vw;
                background-image: url(/assets/images/cards/dna.png);
                .pill-artiste{
                    background: $orange!important;
                }
            }
            &:nth-child(14){
                height: 20vw;
                background-image: url(/assets/images/cards/coton.jpg);
                background-position: center center; 
                .pill-artiste{
                    background: $orange!important;
                }
            }
            &:nth-child(15){
                height: 25vw;
                background-image: url(/assets/images/cards/malo.jpeg); 
                .pill-artiste{
                    background: $orange!important;
                }
            }
            &:nth-child(16){
                height: 36vw;
                background-image: url(/assets/images/cards/jam.jpg); 
            }
            &:nth-child(17){
                height: 36vw;
                background-image: url(/assets/images/cards/ilaria.jpeg);
            }
            &:nth-child(18){
                height: 25vw;
                background-image: url(/assets/images/cards/jo.jpeg); 
            }
            &:nth-child(19){
                height: 25vw;
                background-image: url(/assets/images/cards/photo_marie_huguen_-_Marie_Huguen.jpg);
                background-position: center center; 
            }
            &:nth-child(20){
                height: 30vw;
                background-image: url(/assets/images/cards/caius.jpg); 
            }
            &:nth-child(21){
                height: 30vw;
                background-image: url(/assets/images/cards/macera.jpg);
                background-position: center center;
            }
            &:nth-child(22){
                height: 25vw;
                background-image: url(/assets/images/cards/oops.png); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(23){
                height: 25vw;
                background-image: url(/assets/images/cards/ombeline.jpg);
                background-position: center center;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(24){
                height: 30vw;
                background-image: url(/assets/images/cards/Blackmomille.png);
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(25){
                height: 36vw;
                background-image: url(/assets/images/cards/alexia.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(26){
                height: 25vw;
                background-image: url(/assets/images/cards/nicolas.jpg);
                .pill-artiste{
                    background: $blue!important;
                }
                background-position: center center;
            }
            &:nth-child(27){
                height: 25vw;
                background-image: url(/assets/images/cards/rozeau.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(28){
                height: 36vw;
                background-image: url(/assets/images/cards/Mutin_de_Perde_1_-_Mutin_de_Perde.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(29){
                height: 30vw;
                background-image: url(/assets/images/cards/jivre.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(30){
                height: 20vw;
                background-image: url(/assets/images/cards/lito.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(31){
                height: 25vw;
                background-image: url(/assets/images/cards/cafard.png); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(32){
                height: 30vw;
                background-image: url(/assets/images/cards/krysten.jpeg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(33){
                height: 36vw;
                background-image: url(/assets/images/cards/melanie.jpg);
                .pill-artiste{
                    background: $blue!important;
                } 
            }
            &:nth-child(34){
                height: 25vw;
                background-image: url(/assets/images/cards/arts.png); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(35){
                height: 25vw;
                background-image: url(/assets/images/cards/lavande.png); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(36){
                height: 30vw;
                background-image: url(/assets/images/cards/anna.jpeg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(37){
                height: 30vw;
                background-image: url(/assets/images/cards/cmm.jpg); 
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(38){
                height: 25vw;
                background-image: url(/assets/images/cards/poppy.png); 
            }
            &:nth-child(39){
                height: 25vw;
                background-image: url(/assets/images/cards/fee.png);
                background-position: center; 
                .pill-artiste{
                    background: $purple!important;
                }
            }
            &:nth-child(40){
                height: 30vw;
                background-image: url(/assets/images/cards/patrick.png); 
            }
            &:nth-child(41){
                height: 30vw;
                background-image: url(/assets/images/cards/fredy.jpeg); 
            }
            &:nth-child(42){
                height: 36vw;
                background-image: url(/assets/images/cards/belou.png);
                background-position: center center; 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(43){
                height: 25vw;
                background-image: url(/assets/images/cards/mo.jpg);
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(44){
                height: 36vw;
                background-image: url(/assets/images/cards/florent.jpg);
                background-position: center center;  
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(45){
                height: 25vw;
                background-image: url(/assets/images/cards/laurie.jpg); 
                background-position: center;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(46){
                height: 25vw;
                background-image: url(/assets/images/cards/kittel.jpg); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(47){
                height: 25vw;
                background-image: url(/assets/images/cards/zmmo.jpg); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(48){
                height: 25vw;
                background-image: url(/assets/images/cards/wiyu.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(49){
                height: 25vw;
                background-image: url(/assets/images/cards/ambak.jpg); 
                background-position: center;
                .pill-artiste{
                    background: $green!important;
                }
            }
            &:nth-child(50){
                height: 20vw;
                background-image: url(/assets/images/cards/amelie.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(51){
                height: 20vw;
                background-image: url(/assets/images/cards/bdb.jpeg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(52){
                height: 25vw;
                background-image: url(/assets/images/cards/atelier150.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(53){
                height: 25vw;
                background-image: url(/assets/images/cards/santa.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(54){
                height: 25vw;
                background-image: url(/assets/images/cards/afebk.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(55){
                height: 25vw;
                background-image: url(/assets/images/cards/84.jpeg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(56){
                height: 25vw;
                background-image: url(/assets/images/cards/athenenoctua.png); 
                background-position: top;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(57){
                height: 25vw;
                background-image: url(/assets/images/cards/albane.jpeg); 
                .pill-artiste{
                    background: $purple!important;
                }
            }
            &:nth-child(58){
                height: 25vw;
                background-image: url(/assets/images/cards/lena.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(59){
                height: 25vw;
                background-image: url(/assets/images/cards/anna2.jpg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(60){
                height: 25vw;
                background-image: url(/assets/images/cards/yeomeek.jpg);
                background-position: center;
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(61){
                height: 25vw;
                background-image: url(/assets/images/cards/zevla.jpeg); 
                .pill-artiste{
                    background: $orange!important;
                }
            }
            &:nth-child(62){
                height: 25vw;
                background-image: url(/assets/images/cards/clement.png);
                background-position: center;
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(63){
                height: 25vw;
                background-image: url(/assets/images/cards/krevart.jpeg); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(64){
                height: 25vw;
                background-image: url(/assets/images/cards/porpor.PNG); 
                .pill-artiste{
                    background: $blue!important;
                }
            }
            &:nth-child(65){
                height: 25vw;
                background-image: url(/assets/images/cards/iakh.jpg); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(66){
                height: 20vw;
                background-image: url(/assets/images/cards/audrey.png); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(67){
                height: 25vw;
                background-image: url(/assets/images/cards/pauline.jpg); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(68){
                height: 25vw;
                background-image: url(/assets/images/cards/ananas.jpg); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
            &:nth-child(69){
                height: 25vw;
                background-image: url(/assets/images/cards/esther.jpeg); 
                .pill-artiste{
                    background: $yellow!important;
                }
            }
        }
    }
}

//RESPONSIVE
@media only screen and (max-width: 768px){
    main{
        padding: 0vw 4vw 0vw 4vw;
        .edition-section1{
            padding-top: 30%;

            h1{
                font-size: 18vw!important;
                line-height: 18vw;
                text-align: center;
            }
            h2{
                font-size: 6vw!important;
            }
            p{
                font-size: 4vw!important;
            }
            .text-hero-banner{
                font-size: 7vw!important;
                width: 90%;
                text-align: left;
            }
        }
        .edition-section2{
            flex-direction: column;
            padding: 0vw 4vw 0vw 4vw;
            .column-left{
                gap: 6vw!important;
            }
        }
        .edition-section3{
            flex-direction: column;
            .text-hero-banner{
                font-size: 7vw!important;
                width: 90%;
                margin-bottom: 4vw;
            }
        }
    }
    .edition-card{
        height: 80vw!important;
    }
}