main{
    background: $white;
    position: relative;
    z-index: 200;
    height: fit-content;
}
@keyframes verticalMove {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-2%) rotate(1deg);
    }
}
.hero-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4vw;
    position: relative;
    color: $black;

    h1{
        animation: fadeInAnimation ease 1s;
        z-index: 1;
    }
    p{
        text-transform: uppercase;
        z-index: 1;
        font-size: 2.6vw!important;
    }
    .heroshape-blue{
        position: absolute;
        top: 0vw;
        left: 20vw;
        z-index: 0;
        height: 30vw;
        animation: verticalMove 5s infinite alternate;
        opacity: 0.8;
    }
    .heroshape-green{
        position: absolute;
        top: -10vw;
        left: 47vw;
        z-index: -1;
        height: 25vw;
        animation: verticalMove 6s infinite alternate;
        opacity: 0.8;
    }
    .heroshape-orange{
        position: absolute;
        top: 15vw;
        left: 55vw;
        z-index: -1;
        height: 25vw;
        animation: verticalMove 7s infinite alternate;
        opacity: 0.8;
    }
}
.home-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6vw;
    margin-top: 4vw;
    color: $black;
    background: $white;
    padding: 0vw, 4vw, 0vw, 4vw;
    img{
        border-radius: 2.6vw;
        width: 85%;
    }
    h3{
        color: $blue;
    }
    p{
        width: 40%;
    }
    span{
        color: $blue;
        font-weight: 600;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        align-items: center;
        justify-content: center;
    }
}
.home-section3{
    margin-top: 10vw;
    padding: 4vw;
    color: $black;
    background: $white;

        .stroke-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 4vw;
            border-radius: 25px;
            border: 2px solid $yellow;
            h3{
                margin-top: 1.9vw;
                color: $yellow;
            }
            h4{
                font-family: neulis-cursive, sans-serif;
                font-style: normal;
                font-size: 3.5vw;
            }
            span{
                color: $yellow;
                font-weight: 600;
            }
            p{
                margin-top: 1.3vw;
                width: 40%;
            }
            .secondary-btn{
                margin-top: 2.6vw;
                color: $black;
                border: 0.06vw solid $black;
                &:hover{
                    background: $black;
                    color: $white;
                }
            }
        }
}
.home-section-main-sponsor{
    display: flex;
    gap: 2vw;
    background-color: $black;
    color: $white;
    margin-top: 4vw;
    padding: 4vw;
    .column-left{
        width: 50%;
    }
    .column-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        img{
            width: 50%;
        }
        h2{
            text-transform: uppercase;
        }
        p{
            color: darken($white, 5%);
        }
    }
    .secondary-btn{
        color: $pink;
        border: solid $pink;
        &:hover{
            background-color: $pink;
            color: $white;
        }
    }
}
.village-artistique{
    padding: 4vw;
    color: $black;
    background: $white;
        .stroke-wrapper{
            height: fit-content;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 24vw 4vw 24vw 4vw;
            border-radius: 25px;
            border: 2px solid $black;
            background: $black;
            h2{
                color: $white;
                text-transform:uppercase
            }
            span{
                color: $yellow;
                font-weight: 600;
            }
            p{
                margin-top: 1.3vw;
                width: 40%;
                color: $white;
            }
            .secondary-btn{
                margin-top: 2.6vw;
                color: $yellow;
                border: 0.06vw solid $yellow;
                &:hover{
                    background: $yellow;
                    color: $black;
                    border: none;
                }
            }
            .card-village-artistique1{
                position: absolute;
                border-radius: 24px;
                width: 21vw;
                height: 16.5vw;
                transform: rotate(8deg);
                padding: 24px;
                background-image: url(/assets/images/cards/affiche.jpg);
                background-size: cover;
                bottom: 5%;
                left: 5%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(12deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique2{
                position: absolute;
                border-radius: 24px;
                width: 14.7vw;
                height: 24vw;
                transform: rotate(16deg);
                padding: 24px;
                background-image: url(/assets/images/cards/athena.jpg);
                background-size: cover;
                background-position: center;
                bottom: 5%;
                right: 5%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(20deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique3{
                position: absolute;
                border-radius: 24px;
                width: 24.5vw;
                height: 13vw;
                transform: rotate(-8deg);
                padding: 24px;
                background-image: url(/assets/images/cards/audacieux.jpg);
                background-size: cover;
                top: 5%;
                right: 5%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(-12deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique4{
                position: absolute;
                border-radius: 24px;
                width: 23vw;
                height: 10vw;
                transform: rotate(-6deg);
                padding: 24px;
                background-image: url(/assets/images/cards/cecile.jpg);
                background-size: cover;
                background-position: center;
                bottom: 5%;
                right: 60%;
                left: 40%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(-10deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique5{
                position: absolute;
                border-radius: 24px;
                width: 7.5vw;
                height: 10vw;
                transform: rotate(8deg);
                padding: 24px;
                background-image: url(/assets/images/cards/dj.jpg);
                background-size: cover;
                top: 5%;
                right: 50%;
                left: 50%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(12deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique6{
                position: absolute;
                border-radius: 24px;
                width: 10vw;
                height: 13vw;
                transform: rotate(8deg);
                padding: 24px;
                background-image: url(/assets/images/cards/iakman.jpg);
                background-size: cover;
                top: 50%;
                bottom: 50%;
                left: 5%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(12deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique7{
                position: absolute;
                border-radius: 24px;
                width: 24vw;
                height: 18vw;
                transform: rotate(-6deg);
                padding: 24px;
                background-image: url(/assets/images/cards/jsp.jpg);
                background-size: cover;
                top: 5%;
                left: 5%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(-10deg);
                    transition: 0.3s;
                }
            }
            .card-village-artistique8{
                position: absolute;
                border-radius: 24px;
                width: 18vw;
                height: 20vw;
                transform: rotate(2deg);
                padding: 24px;
                background-image: url(/assets/images/cards/koko.jpg);
                background-size: cover;
                top: 30%;
                right: 5%;
                transition: 0.3s;
                &:hover{
                    transform: rotate(6deg);
                    transition: 0.3s;
                }
            }
        } 
}
.home-section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6vw;
    margin-top: 4vw;
    padding-bottom: 8vw;
    background: $white;
}
.nos-partenaires{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 8vw;
    background: $orange;
    color: $white;
    text-align: center;
    p{
        color: darken($white, 5%);
    }
    .partenaires-wrapper{
        display: flex;
        gap: 2vw;
        margin-top: 2vw;
        .partenaires-bg{
            display: flex;
            gap: 2vw;
            padding: 2vw;
            width: 20vw;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: $white;
            border-radius: 20px;
            img{
                width: 100%;
            }
            .logoxa{
                width: 60%!important;
            }
        }
    }
}
.home-section-tuned{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vw;
    color: $black;
    background: $white;
    h3{
        color: $blue;
    }
}

//RESPONSIVE
@media only screen and (max-width: 1200px) {
    p{
        font-size: 1.5vw;
    }
    a{
        font-size: 1.5vw!important;
    }
    .email-container{
        font-size: 1.5vw!important;
        #emailInput {
            width: 25vw!important;
        }
    }
    .title-footer{
        font-size: 2vw;
    }
    footer{
        .link{
            margin-top: 1vw;
        }
    }
  }
@media only screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        gap: 8vw;
        padding: 0vw!important;
        .hero-banner{
            padding-top: 30%;
            svg{
                display: none;
            }
        }
    }
    h3{
        font-size: 6vw;
    }
    p{
        font-size: 2vw;
        width: 90%!important;
    }
    a{
        font-size: 2vw;
    }
    .secondary-btn {
        font-size: 2vw!important;
        padding: 2vw;

    }
    .home-section-main-sponsor{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .column-left{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .column-right{
            margin-top: 8vw;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 4vw;
        }
    }

    .village-artistique{
        .stroke-wrapper{
            padding: 4vw!important;
            .hide-card{
                display: none;
            }
            p{
                width: 80%;
            }
        }
    }

    .home-section4{
        flex-direction: column;
        p{
            width: 100%!important;
        }
        .card-contributeur {
            width: 50%;
         .secondary-btn {
            font-size: 2vw!important;
            padding: 2vw;
        }
        }
        .card-candidat {
            width: 50%;
         .secondary-btn {
            font-size: 2vw!important;
            padding: 2vw;

        }
        }
    }

    .partenaires-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vw!important;
        padding-top: 8vw;
        .partenaires-bg{
            border-radius: 16px!important;
            width: 80%!important;
            padding: 4vw!important;
            img{
                width: 100%!important;
            }
        }
    }

    footer{
        height: fit-content;
        position: sticky;
        overflow-y: auto;
        max-height: 100vh;
        .footer-row{
            flex-direction: column;
            text-align: center;
            .footer-column{
                flex-direction: column;
            }
            .footer-bloc{
                margin-top: 2vw;
            }
        }
        a{
            font-size: 2vw!important;
        }
        .email-container{
            font-size: 2vw!important;
            #emailInput {
                width: 33vw!important;
            }
        }
    }
  }
@media only screen and (max-width: 600px) {
    .secondary-btn {
        font-size: 3vw!important;
        padding: 4vw;
    }

    .hero-banner {
        h1{
            font-size: 18vw!important;
            line-height: 18vw;
        }
        p{
            font-size: 4vw!important;
        }
    }
    .countdown-wrapper-small{
        display: none;
    }
    p{
        font-size: 4vw;
    }

    footer{
        .footer-row{
            flex-direction: column;
            text-align: center;
            .footer-bloc{
                .title-footer{
                    font-size: 4vw;
                }
                margin-top: 3vw;
            }
        }
        a{
            font-size: 3vw!important;
        }
        .email-container{
            font-size: 2vw!important;
            #emailInput {
            width: 47vw!important;
            font: initial;
            font-family: neulis-neue, sans-serif;

            }
        }
    }
    .home-section2{

        p{
            width: 90%;
        }
    }
    .home-section3{
        .stroke-wrapper{
            p{
                width: 100%;
            }
            h4{
                width: 100%;
            }
        }
    }
    .home-section4{
        flex-direction: column;
        padding-bottom: 8vw;
        .card-candidat{
            width: 90%;
            .secondary-btn {
                font-size: 3vw!important;
                padding: 4vw;
            }

        }
        .card-contributeur{
            width: 90%;
            .secondary-btn {
                font-size: 3vw!important;
                padding: 4vw;
            }
        }
    }
  }

  @media only screen and (max-width: 425px) {
    .email-container{
        font-size: 16vw!important;
        #emailInput {
            width: 100% !important;
            font: initial;
            font-family: neulis-neue, sans-serif;

        }
    }
}