.primary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21vw;
    height: 4.8vw;
    border-radius: 0.6vw;
    background: $white;
    color: $black;
    font-family: neulis-neue, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1vw;
    text-decoration: none;
    transition:0.5s;
    &:hover{
        transform: translateY(3px);
        transition:0.5s;
        font-weight: 800;
        background: $orange;
        color: $white
    }
};

.secondary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0vw 3vw;
    height: 4.8vw;
    border-radius: 0.6vw;
    border: 0.06vw solid $black;
    color: $black;
    font-family: neulis-neue, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1vw;
    text-decoration: none;
    text-transform: uppercase;
    transition:0.5s;
    &:hover{
        transform: translateY(3px);
        transition:0.5s;
        background: $blue;
        color: $white
    }
};

.tertiary-btn{
    padding: 0.6vw 1.3vw;
    border-radius: 0.6vw;
    background: $white;
    color: $black;
    font-family: neulis-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    text-decoration: none;
    transition:0.5s;
    &:hover{
        transform: translateY(3px);
        transition:0.5s;
        background: $orange;
        color: $white
    }
};

.partner-card-button{
    padding: 0.4vw 1.3vw;
    border-radius: 0.6vw;
    text-decoration: none;
}

.chip {
    z-index: 100!important;
    display: inline-flex;
    align-items: center;
    background-color: transparent; /* Transparent background */
    border: 2px solid $black; /* White stroke */
    border-radius: 16px;
    padding: 8px 16px; /* Adjusted padding */
    margin: 4px; /* Add some margin between chips */
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-family: neulis-cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;

    &:hover {
        background-color: rgba(255, 255, 255, 0.129); /* Slight gray on hover */
    }

    &.selected {
        background-color: $yellow; /* White background for selected chips */
        border-color: $black; /* White border for selected chips */
        color: #000; /* Black text for selected chips */

        .chip-label {
            margin-left: 8px; /* Add 8px spacing between the check and text */
            color: #000; /* Black text for selected chips */
        }

        .check-icon {
            fill: #000; /* Black checkmark for selected chips */
            display: block; /* Display the checkmark for selected chips */
        }
    }

    .chip-label {
        color: $black; /* White text for unselected chips */
    }

    .check-icon {
        // margin-right: 8px;
        width: 24px;
        height: 24px;
        display: none; /* Initially, hide the checkmark icon */
        fill: $black; /* White checkmark for unselected chips */
    }
}
.pill-artiste{
    color: $white;
    font-family: neulis-neue, sans-serif;
    background: $green;
    font-family: neulis-neue, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;
    border-radius: 8px;
    padding: 0vw 0.5vw 0vw 0.5vw;
}
//RESPONSIVE
@media only screen and (max-width: 768px) {
    .secondary-btn{
        font-size: 4vw!important;
        padding: 8vw;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }
  }