h1{
    font-family: neulis-cursive, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8.4vw;
};

h2{
    font-family: neulis-cursive, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5vw;
};

h3{
    font-family: neulis-cursive, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.3vw;
};

h4{
    font-family: neulis-cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
}

p{
    font-family: neulis-neue, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1vw;
}

.subtitle{
    font-family: neulis-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8vw;
}

.link{
    font-family: neulis-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
}
.title-footer{
    font-family: neulis-neue, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2vw;
}